# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.venv/
env/
venv/

# Database
*.db
*.sqlite
*.sqlite3

# Uploads & exports
uploads/
outputs/exports/

# Temp
.tmp/
*.log
*.pid

# IDE
.DS_Store
.idea/
.vscode/

# Test
.pytest_cache/
